<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stunning Full Stack Developer</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-/6QKN50Kr/3URBfJdS6G2UQOF8Zw6Sz8M4cc3gUSC4FW2fuA5czm+3C25Z6qZBZy2CYFLGOIbwrTXNC5QH+0ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.cdnfonts.com/css/itc-avant-garde-pro-md" rel="stylesheet">
                
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand " href="#">RR</a>
  <button class="navbar-toggler tet-white" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon  "><i class="fa-solid fa-bars fa-beat fa-xl" style="color: #f5f8ff;"></i></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto text-white" >
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skills">
          <i class="fas fa-code"></i> Skills
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">
          <i class="fas fa-folder-open"></i> Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Resume">
          <i class="fas fa-envelope"></i> Resume
        </a>
      </li>
    </ul>
  </div>
</nav>


  <div class="loading-screen" style="">
    <div class="loading-icon">
      <i class="fas fa-spinner fa-spin" style="color: purple;"></i>
    </div>
  </div>
  </div>
  <!-- Hero Section -->
  
{{{body}}}



  <!-- Footer Section -->
  <footer class=" text-white text-center">
    <p>&copy; 2023 Renjith Rajakumar. All rights reserved.</p>
      <ul class="list-unstyled d-flex justify-content-center col-12">
            <li class="mb-3"><i class="fas fa-map-marker-alt"></i> 50 sylvya court Fredericton NB </li>

            <li class="mb-3 "><i class="fas fa-phone me-2"></i> +1 519-596-1111</li>

            <li class="mb-3 "><i class="fas fa-envelope"></i> renjithkumar993@gmail.com</li>
          </ul>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>
    // Simulate content loading

  </script>
  <script src="/js/main.js"></script>
</body>

</html>