





<section class="hero text-white text-center py-5">
    <div class="container">
      <div class="row">
            <div class="right-content">
            <img src="/assets/aboutme.png" alt="Developer Image">
          </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center mt-3">
          <div class="left-content">
            <h2>Welcome! <span class="wave-emoji wave">👋</span></h2>
            <h1 class="display-4">I am <span style="font-size: larger;">Renjith</span> Rajakumar</h1>
            <p class="typewriter">Experienced Full Stack Developer<br>and Passionate Learner</p>
            <p class="lead">Unlock the Power of Innovation and Efficiency<br>with a Skilled Full Stack Developer</p>
            <a href="mailto:renjithkumar993@gmail.com" class="btn btn-light btn-lg mb-5">Hire Me</a>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
      
        </div>
      </div>
    </div>
  </section>



  <!-- About Section -->
  <section id="about" class="py-5 mt-5">
    <div class="container">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <h2 class="text-white ">
            LET ME INTRODUCE MYSELF
          </h2>
          <p class="text-white about-text">I am a Full Stack Developer with a passion for building dynamic and
            interactive websites and applications.
            With experience in using cutting-edge technologies, I strive to create elegant and efficient solutions for
            web development challenges.</p>
          <div class="row">
            <div class="col-md-8">
              <p class="text-white">
                My field of interests are building new&nbsp;
                <i>
                  <b class="text-white">Web Technologies and Products</b> and also in areas related to&nbsp;
                  <b class="text-white">Deep Learning and Natural Language Processing.</b>
                </i>
                <br /><br />
                Whenever possible, I also apply my passion for developing products with <b class="purple">Node.js</b>
                and
                <i>
                  <b class="purple">Modern JavaScript Library and Frameworks</b>
                </i>
                &nbsp;like
                <i>
                  <b class="purple">React.js and Next.js</b>
                </i>
              </p>
            </div>
          </div>
/assets/frontpagehero.PNG
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img src="/assets/frontpagehero.PNG" alt="Profile Picture" class="img-fluid heroimage ">
        </div>
      </div>
  </section>


  <section id="social" class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h1 class="mb-4 text-white">FIND ME ON</h1>
          <p class="text-white">Feel free to <span class="purple">connect</span> with me</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="list-unstyled d-flex justify-content-center home-about-social-links">
            <li class="social-icons mx-2">
              <a href="https://github.com/Renjithkumar993" target="_blank" rel="noreferrer"
                class="icon-colour home-social-icons rounded-circle"style="font-size: 3rem;">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="social-icons mx-2">
              <a href="https://www.linkedin.com/in/renjith-rajakumar-109a4051/" target="_blank" rel="noreferrer"
                class="icon-colour home-social-icons rounded-circle"style="font-size: 3rem;">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="social-icons mx-2">
              <a href="https://www.facebook.com/renjithkumar.cool" target="_blank" rel="noreferrer"
                class="icon-colour home-social-icons rounded-circle"style="font-size: 3rem;">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  


  <script src="/js/main.js"></script>
