<section id="portfolio" class="py-5 ">
     <div class="container">
          <div class="col-md-12 d-flex justify-content-center align-items-center">
          <img src="/assets/DALL·E 2023-05-16 10.52.57 - change this and make it differnet stayle to say same concept match with dark purple color.png" alt="Profile Picture" class="img-fluid heroimage  ">
        </div>
      <div class="col-md-12 d-flex justify-content-between">
    <div class="container">
      <h2 class="text-center text-white"> My Recent <strong className="purple">Works </strong></h2>
     <div class="row text-white">
      <div class="col-md-6 mt-4">
        <div class="card">
          <img src="/assets/Capture1.PNG" alt="Project 1" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Task-Bot</h3>
            <p class="card-text">Chatbot-OpenAI is a versatile application that allows users to get suggestions and assistance with their tasks. It utilizes OpenAI's natural language processing and intelligent suggestions to create engaging and personalized conversational experiences.</p>
               <div class="card-overlay">
      <a href="https://taskbot-openai.herokuapp.com/" class="btn btn-light">View Details</a>
    </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card">
          <img src="/assets/Capture.PNG" alt="Project 2" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Resume Rocket</h3>
            <p class="card-text">A Full Stack Resume generator that utilizes AI to generate resumes that align with industry standards, improving your chances of catching the eye of recruiters and hiring managers.</p>
               <div class="card-overlay">
      <a href="https://airesume.herokuapp.com/" class="btn btn-light">View Details</a>
    </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card">
          <img src="/assets/Capture3.PNG" alt="Project 3" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">Movie Buff</h3>
            <p class="card-text">Powered by the TMDB API, Watchmode API, News API, and featuring styling from the Bulma CSS framework.</p>
                <div class="card-overlay">
      <a href="https://renjithkumar993.github.io/MovieBuff/" class="btn btn-light">View Details</a>
    </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card">
          <img src="/assets/Capture4.PNG" alt="Project 4" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title"></h3>
            <p class="card-text">This is a CMS-style blog site that allows users to create, read, update, and delete blog posts. Users can also leave comments on blog posts.</p>
               <div class="card-overlay">
      <a href="https://techblogclub.herokuapp.com/" class="btn btn-light">View Details</a>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>