<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center mt-3 mb-4">
        <a href="{{pdfUrl}}" download class="btn  btn-light">
          <i class="fas fa-download mr-2"></i> Download Resume
        </a>
      </div>
      <div class="pdf-container">
        <embed src="{{pdfUrl}}" type="application/pdf" class="pdf-embed container" />
      </div>
      <div class="text-center mt-3 mb-4">
        <a href="{{pdfUrl}}" download class="btn  btn-light">
          <i class="fas fa-download mr-2"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</div>
