
  <!-- Skills Section -->
<section id="skills" class="py-5 scroll-link">
  <div class="container">
    <h2 class="text-white text-center">Areas of Expertise</h2>
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-between">
        <div class="row">
                 <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-react glowing-image"></i>
            <h4>React</h4>
          </div>
        </div>
          <div class="col-md-3 col-sm-6 col-4">
            <div class="skill-item">
              <i class="fab fa-js text-Red glowing-image"></i>
              <h4>JavaScript</h4>
            </div>
          </div>
              <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fas fa-cogs glowing-image"></i>
            <h4>MVC Paradigm</h4>
          </div>
        </div>
           <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-node-js glowing-image"></i>
            <h4>MERN Stack</h4>
          </div>
        </div>
            <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-node-js glowing-image"></i>
            <h4>Node.js</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-js glowing-image"></i>
            <h4>ES6</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
  <div class="skill-item">
    <i class="fab fa-microsoft glowing-image"></i>
    <h4>.NET</h4>
  </div>
</div>

<div class="col-md-3 col-sm-6 col-4">
  <div class="skill-item">
 <i class="fas fa-cloud glowing-image"></i>
    <h4>Azure Devops</h4>
  </div>
</div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-git glowing-image"></i>
            <h4>Git</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-bootstrap glowing-image"></i>
            <h4>Bootstrap</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-js glowing-image"></i>
            <h4>APIs</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-js glowing-image"></i>
            <h4>JQuery</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-js glowing-image"></i>
            <h4>JSON</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4 abc">
          <div class="skill-item">
            <i class="fab fa-js glowing-image"></i>
            <h4>AJAX</h4>
          </div>
        </div>
    
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fab fa-node-js glowing-image"></i>
            <h4>Express</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fas fa-database glowing-image"></i>
            <h4>MySQL</h4>
          </div>
        </div>

    
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fas fa-cogs glowing-image"></i>
            <h4>Sequelize</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fas fa-mobile-alt glowing-image"></i>
            <h4>Progressive Web Apps</h4>
          </div>
        </div>
 
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item">
            <i class="fas fa-database glowing-image"></i>
            <h4>NoSQL</h4>
          </div>
        </div>
       
        <div class="col-md-3 col-sm-6 col-4">
          <div class="skill-item ">
            <i class="fas fa-database glowing-image"></i>
            <h4>MongoDB</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-4">
            <div class="skill-item">
              <i class="fab fa-html5 glowing-image"></i>
              <h4>HTML</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-4">
            <div class="skill-item">
              <i class="fab fa-css3-alt glowing-image"></i>
              <h4>CSS</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-4">
  <div class="skill-item">
   <i class="fa-brands fa-css3"></i>
    <h4>Bulma</h4>
  </div>
</div>

<div class="col-md-3 col-sm-6 col-4">
  <div class="skill-item">
    <i class="fab fa-vuejs glowing-image"></i>
    <h4>Vue.js</h4>
  </div>
</div>



      </div>
      
    </div>
  </section> 







<section id="education-certifications" class="py-5 scroll-link">
    
  <div class="container text-white">
    
    <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="/assets/student-studying-at-home-free-vector-removebg-preview.png" alt="Profile Picture" class="img-fluid heroimage">
      </div>
      <div class="col-md-6">
        <h2 class="text-center mt-4">Education & Certifications</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="education-item">
              <i class="fas fa-laptop-code education-icon"></i>
              <h4>Bachelor of Computer Application</h4>
              <p>Computer Programming, Specific Applications</p>
              <p>Bharathiar University</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="education-item">
              <i class="fas fa-network-wired education-icon"></i>
              <h4>PG Diploma in Information Technology Professional</h4>
              <p>Network and System Administration/Administrator</p>
              <p>Lambton College</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="education-item">
              <i class="fas fa-code education-icon"></i>
              <h4>UNB Coding Bootcamp</h4>
              <p>University of New Brunswick</p>
            </div>
          </div>
           <div class="col-md-4">
          <div class="certification-item">
            <i class="fas fa-shield-alt certification-icon"></i>
            <h4>CompTIA Project+ Certification</h4>
            <p>CompTIA</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="certification-item">
            <i class="fab fa-microsoft certification-icon"></i>
            <h4>Microsoft Certified: Azure Security Engineer Associate</h4>
            <p>Microsoft</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="certification-item">
            <i class="fas fa-user-secret certification-icon"></i>
            <h4>Certified Ethical Hacker (CEH)</h4>
            <p>EC-Council</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="certification-item">
            <i class="fas fa-search-plus certification-icon"></i>
            <h4>Computer Hacking Forensic Investigator (CHFI)</h4>
            <p>EC-Council</p>
          </div>
        </div>
        <div class="col-md-4">
            <div class="education-item">
              <i class="fas fa-code education-icon"></i>
              <h4>.Net Programming certificate</h4>
              <p>Bharathiar University</p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>















<section id="experience" class="py-5 scroll-link ">
  <div class="container text-white">
    <h2 class="text-center">Experience</h2>
    <div class="row justify-content-center">
         <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-desktop experience-icon"></i>
          <h4>Advanced support Analyst</h4>
          <p>ServiceNew Brunswick (1 years)</p>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-laptop-code experience-icon"></i>
          <h4>Infrastructure Application Analyst</h4>
          <p>ServiceNew Brunswick (4 years)</p>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-cogs experience-icon"></i>
          <h4>Technical Operator</h4>
          <p>ServiceNew Brunswick (1 year)</p>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-desktop experience-icon"></i>
          <h4>Information Technology Support Analyst</h4>
          <p>Whyndham World Wide (1 year)</p>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-wrench experience-icon"></i>
          <h4>Technical Support Specialist</h4>
          <p>Nordia INC (1 year)</p>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="experience-item">
          <i class="fas fa-wrench experience-icon"></i>
          <h4>Technical Support Specialist</h4>
          <p>Transcom (1 year)</p>
        </div>
      </div>
    </div>
  </div>
</section>
